<html>
<head>
    <script src="lib/angular.js"></script>
</head>
<body ng-app="myapp">
    <div ng-controller="parentCtrl"    style="border:1px solid green;padding:20px;">
        <h2> Parent Controller</h2>
        <p>Emit Message : {{message}}</p>
        
        
        <div ng-controller="childCtrl"     style="border:1px solid red;padding:10px;margin:10px;">
            <h2>Child Controller</h2>
            <input type="text" ng-model="msg"> <button ng-click="doEmit(msg)">Emit</button>
            
        </div>
    </div>

    <script src="index.js"></script>
</body>
</html>