<div ng-controller="productsCtrl as pc">
    
        
    <!-- products from products1.json file-->  
    
    <!--<div class="row" ng-repeat="item in pc.products">
        <div class="col-xs-6">
            <div class="thumbnail">
                <img src="../images/{{item.image}}" alt="Sample Image">
                <div class="caption">
                    <h3>{{item.Model}}</h3>
                    <p>{{item.Description}}</p>
                    <p><a href="#" class="btn btn-primary">Share</a> <a href="#" class="btn btn-default">{{item.Price}}</a></p>
                </div>
            </div>
        </div>
    </div>   -->
    
    
        
          <!-- products from products.json file-->
        
    <div class="row">  
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Model</th>
                    <th>Description</th>
                    <th><a href="#" ng-click="pc.orderByPrice()">Price <i class="glyphicon glyphicon-sort"></i></a></th>
                    <th><a href="#" ng-click="pc.showMore()">Show More</a></th>
                </tr>
            </thead>
            <tr ng-repeat="item in pc.products|limitTo:pc.minimumProducts |orderBy:pc.orderByCrietria">
                <td>
                    {{item.index}}
                </td>
                <td>
                    {{item.Model}}
                </td>
                <td>
                    {{item.Description}}
                </td>
                <td>
                    {{item.Price|currency :"Rs."}}
                </td>
                
                
                   <td>
                   <button class="btn btn-warning">Add To cart</button>
                </td>

            </tr>
        </table> 
    </div>
</div>