<div ng-controller="productsCtrl as pc">
    
        
    <!-- products from products1.json file-->  
    
    <!--<div class="row" ng-repeat="item in pc.products">
        <div class="col-xs-6">
            <div class="thumbnail">
                <img src="../images/{{item.image}}" alt="Sample Image">
                <div class="caption">
                    <h3>{{item.Model}}</h3>
                    <p>{{item.Description}}</p>
                    <p><a href="#" class="btn btn-primary">Share</a> <a href="#" class="btn btn-default">{{item.Price}}</a></p>
                </div>
            </div>
        </div>
    </div>   -->
    
    
        
          <!-- products from products.json file-->
        
        <div class="row">
       <div class="col-md-3">
            <input class="form-control" placeholder="Search"
                   ng-model="pc.genericSearch">
        </div>
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Model</th>
                        <th>Description</th>
                        <th><a href="#" ng-click="pc.orderByPrice()">Price <i class="glyphicon glyphicon-sort"></i></a></th>
                        <th><a href="#" ng-click="pc.showMore()">Show More</a></th>
                    </tr>
                </thead>
                <tr ng-repeat="item in pc.paginatedProducts">
                    <td>
                        {{item.index}}
                    </td>
                    <td>
                        {{item.Model}}
                    </td>
                    <td>
                        {{item.Description}}
                    </td>
                    <td>
                        {{item.Price|currency :"Rs."}}
                    </td>
                    <td>
                        <button class="btn btn-warning"  ng-click="pc.addToCart(item)">Add To cart</button>
                    </td>

                </tr>
            </table>
        </div>
    </div>
    
      <ul uib-pagination 
          total-items="pc.paginate.totalProductCount"
          ng-model="pc.paginate.currentPage"
          max-size="pc.paginate.maxSize"
          class="pagination-sm" 
          boundary-link-numbers="true" 
          rotate="false"
          ng-click="pc.loadPaginatedProducts()"></ul></div>
