<html>
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css">
    </head>
    <body>
       <%- include('navigation'); %>
      <h1>Dear <%= profile.username %></h1>
      <h1>Welcome to the profile </h1>
    </body>
</html>