<html>
    <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/slate/bootstrap.min.css">
    </head>
    <body>
      <form class="form-horizontal" method="post" action="/register" >
    <div class="form-group">
      
      <div class="col-lg-4">
        <input type="text"
         class="form-control" 
        name="email"
         placeholder="Email">
      </div>
       <div class="col-lg-4">
        <input type="text"
         class="form-control" 
        name="username"
         placeholder="Username">
      </div>
       <div class="col-lg-4">
        <input type="text"
         class="form-control" 
        name="password"
         placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </div>
    </form>
    </body>
</html>